<div class="tel-modal-header modal-header">
    <h3 class="modal-title" translate="ADD_IMAGE.ADD_IMAGE"></h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="image-url" translate="ADD_IMAGE.IMAGE_URL"></label>
            <input id="image-url" type="text" class="form-control tel-form-control">
        </div>
    </form>
</div>
<div class="tel-modal-footer modal-footer">
    <button class="tel-btn btn btn-primary" ng-click="ok()" translate="OK"></button>
    <button class="tel-btn btn btn-warning" ng-click="cancel()" translate="CANCEL"></button>
</div>
