<div class="tel-app-wrapper menu-open">
    <div class="tel-main-menu" role="navigation" ng-include="'views/tel-main-menu.html'"></div>
    <div class="tel-main-menu-bg"></div>
    <div class="tel-navbar navbar navbar-inverse" role="navigation" ng-include="'views/tel-navbar.html'" ng-controller="NavBarCtrl"></div>
    <div class="tel-content-wrapper">
        <a ng-href="http://tel.com/{{data.general.Identifier}}" ng-if="data.general.Identifier"
           class="btn tel-btn btn-primary pull-right tel-btn-view-portal" translate="ORGANISATIONS.VIEW_IN_PORTAL"
            target="_blank"></a>
        <div class="tel-company-selector clearfix">
            <img ng-src="{{ selectedProvider.logo }}" class="pull-left">
            <select class="form-control tel-form-control pull-left"
                    ng-options="d.id as d.name for d in providers"
                    ng-model="selectedProviderId"
                    ng-change="changeProvider()">
            </select>
            <div class="tel-company-selector-buttons pull-left">
                <button class="btn btn-primary tel-btn" type="button" ng-if="!editMode && selectedProviderId" ng-click="toggleEditMode()"
                        translate="EDIT"></button>
                <button class="btn btn-success tel-btn" type="button" ng-if="editMode" translate="SAVE" ng-click="saveChanges()"></button>
                <button class="btn btn-danger tel-btn" type="button" ng-if="editMode" ng-click="cancelEdit()"
                        translate="CANCEL"></button>
            </div>
        </div>
        <div class="row" ng-form="parentForm">
            <div class="col-xs-6">
                <accordion class="tel-accordion" close-others="false">
                    <accordion-group is-open="accordionStatuses.general" class="success">
                        <accordion-heading>
                            <span translate="ORGANISATIONS.GENERAL"></span>
                            <i class="accordion-status fa" ng-class="{'fa-plus-square': !accordionStatuses.general, 'fa-minus-square': accordionStatuses.general}"></i>
                        </accordion-heading>
                        <form class="form-horizontal" name="general" novalidate>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate="ORGANISATIONS.IDENTIFIER"></label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">{{data.general.Identifier}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="organisation-type" class="col-sm-3 control-label" translate="ORGANISATIONS.TYPE"></label>
                                <div class="col-sm-9">
                                    <select id="organisation-type" class="tel-form-control form-control"
                                            ng-options="c.value as c.label for c in providerTypes"
                                            ng-disabled="!editMode"
                                            ng-model="data.general.ProviderType"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="organisation-country" class="col-sm-3 control-label" translate="ORGANISATIONS.COUNTRY"></label>
                                <div class="col-sm-9">
                                    <select id="organisation-country" class="tel-form-control form-control"
                                            ng-model="data.general.Country"
                                            ng-options="c.value as c.label for c in countries"
                                            ng-disabled="!editMode"></select>
                                </div>
                            </div>
                            <div class="form-group tel-header-group" ng-if="data.general.Name.length">
                                <label class="col-sm-3 control-label" translate="ORGANISATIONS.NAME_TYPE"></label>
                                <label class="col-sm-3 control-label" translate="ORGANISATIONS.LANGUAGE"></label>
                                <label class="col-sm-3 control-label" translate="ORGANISATIONS.NAME"></label>
                            </div>
                            <div class="form-group" ng-repeat="name in data.general.Name">
                                <div class="col-sm-3">
                                    <select class="tel-form-control form-control" ng-model="name.NameType"
                                            ng-options="c.value as c.label for c in nameTypes"
                                            ng-disabled="!editMode"></select>
                                </div>
                                <div class="col-sm-3">
                                    <select class="tel-form-control form-control" ng-model="name.Language"
                                            ng-options="c.value as c.label for c in languages"
                                            ng-disabled="!editMode"></select>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control tel-form-control" ng-model="name.Value"
                                           ng-disabled="!editMode">
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="tel-btn btn btn-danger" ng-click="removeName($index)" ng-if="editMode">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="tel-btn btn btn-primary" ng-click="addName()" ng-if="$last && editMode">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </accordion-group>
                    <accordion-group is-open="accordionStatuses.contact" class="warning">
                        <accordion-heading>
                            <span translate="ORGANISATIONS.ADDRESS"></span>
                            <i class="accordion-status fa" ng-class="{'fa-plus-square': !accordionStatuses.contact, 'fa-minus-square': accordionStatuses.contact}"></i>
                        </accordion-heading>
                        <form name="contact" novalidate class="clearfix">
                            <div class="form-group col-xs-12">
                                <label for="address">Address</label>
                                <input id="address" type="text" class="form-control tel-form-control" ng-disabled="!editMode" ng-model="data.contact.Country">
                            </div>
                            <div class="form-group col-xs-3" ng-class="{'has-error tel-has-error': contact.contactFax.$invalid}">
                                <label for="fax">Fax</label>
                                <input id="fax" type="text" class="form-control tel-form-control" ng-disabled="!editMode" bm-phone-number ng-model="data.contact.Fax" name="contactFax">
                                <p ng-if="contact.contactFax.$invalid" class="tel-help-block help-block" translate="ERRORS.INVALID_FAX"></p>
                            </div>
                            <div class="form-group col-xs-3" ng-class="{'has-error tel-has-error': contact.contactPhone.$invalid}">
                                <label for="phone">Phone</label>
                                <input id="phone" type="text" class="form-control tel-form-control" ng-disabled="!editMode" bm-phone-number ng-model="data.contact.Phone" name="contactPhone">
                                <p ng-if="contact.contactPhone.$invalid" class="tel-help-block help-block" translate="ERRORS.INVALID_PHONE"></p>
                            </div>
                            <div class="form-group col-xs-3" ng-class="{'has-error tel-has-error': contact.contactEmail.$invalid}">
                                <label for="email">E-mail</label>
                                <input id="email" type="email" class="form-control tel-form-control" ng-disabled="!editMode" ng-model="data.contact['E-Mail']" name="contactEmail">
                                <p ng-if="contact.contactEmail.$invalid" class="tel-help-block help-block" translate="ERRORS.INVALID_EMAIL"></p>
                            </div>
                            <div class="form-group col-xs-3">
                                <label for="website">Website</label>
                                <input id="website" type="text" class="form-control tel-form-control" ng-disabled="!editMode" ng-model="data.contact.Website">
                            </div>
                        </form>
                        <div class="col-xs-12">
                            <div class="tel-table-primary">
                                <div class="tel-datasets-table-container">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th translate="ORGANISATIONS.NAME"></th>
                                            <th translate="ORGANISATIONS.ROLE"></th>
                                            <th translate="ORGANISATIONS.EMAIL"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="contact in data.contact.Contact">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ contact.Value.Name }}</td>
                                            <td>{{ contact.Value.Role }}</td>
                                            <td>{{ contact.Value.Email }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group is-open="accordionStatuses.additional">
                        <accordion-heading>
                            <span translate="ORGANISATIONS.MEMBERSHIP"></span>
                            <i class="accordion-status fa" ng-class="{'fa-plus-square': !accordionStatuses.additional, 'fa-minus-square': accordionStatuses.additional}"></i>
                        </accordion-heading>
                        <p>The body of the accordion group grows to fit the contents</p>
                    </accordion-group>
                    <accordion-group is-open="accordionStatuses.portal">
                        <accordion-heading>
                            <span translate="ORGANISATIONS.PORTAL"></span>
                            <i class="accordion-status fa" ng-class="{'fa-plus-square': !accordionStatuses.portal, 'fa-minus-square': accordionStatuses.portal}"></i>
                        </accordion-heading>
                        <form class="form-horizontal" name="portal" novalidate>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate="ORGANISATIONS.PORTAL_STATUS"></label>
                                <div class="col-sm-9">
                                    <select id="portal-status" class="tel-form-control form-control"
                                            ng-options="c.value as c.label for c in portalStatuses"
                                            ng-disabled="!editMode"
                                            ng-model="data.portal.PortalStatus"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="organisation-type" class="col-sm-3 control-label" translate="ORGANISATIONS.COORDINATES"></label>
                                <div class="col-sm-4">
                                    <input id="latitude" type="text" class="form-control tel-form-control" ng-model="data.portal.Coordinate.Latitude" bm-float-parser ng-disabled="!editMode">
                                </div>
                                <div class="col-sm-5">
                                    <input id="longitude" type="text" class="form-control tel-form-control" ng-model="data.portal.Coordinate.Longitude" bm-float-parser ng-disabled="!editMode">
                                </div>
                            </div>
                            <div class="form-group tel-header-group" ng-if="data.portal.Link.length">
                                <!--<label class="col-sm-3 control-label" translate="ORGANISATIONS.LINK"></label>-->
                                <label class="col-sm-5 control-label" translate="ORGANISATIONS.LINK_TYPE"></label>
                                <label class="col-sm-7 control-label" translate="ORGANISATIONS.URL"></label>
                            </div>
                            <div class="form-group" ng-repeat="link in data.portal.Link">
                                <div class="col-sm-5">
                                    <select class="tel-form-control form-control" ng-model="link.LinkType"
                                            ng-options="c.value as c.label for c in linkTypes"
                                            ng-disabled="!editMode"></select>
                                </div>
                                <div class="col-sm-5">
                                    <input class="form-control tel-form-control" ng-model="link.Value" ng-disabled="!editMode">
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="tel-btn btn btn-danger" ng-click="removeLink($index)" ng-if="editMode">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="tel-btn btn btn-primary" ng-click="addLink()" ng-if="$last && editMode">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </accordion-group>
                </accordion>
            </div>
            <div class="col-xs-6">
                <accordion class="tel-accordion" close-others="false">
                    <accordion-group is-open="accordionStatuses.dataset" class="info tel-dataset-panel">
                        <accordion-heading>
                            <span translate="ORGANISATIONS.DATASETS"></span>
                            <i class="accordion-status fa" ng-class="{'fa-plus-square': !accordionStatuses.dataset, 'fa-minus-square': accordionStatuses.datasets}"></i>
                        </accordion-heading>
                            <div class="tel-table-primary">
                                <!--<div class="tel-table-header">-->
                                <!--<div class="tel-table-caption">-->
                                <!--Primary Table-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="tel-datasets-table-container">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th translate="ORGANISATIONS.IDENTIFIER"></th>
                                            <th translate="ORGANISATIONS.NAME"></th>
                                            <th translate="ORGANISATIONS.STATUS"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="dataset in data.dataset.Dataset">
                                            <td>{{ dataset.Value.Identifier }}</td>
                                            <td>{{ dataset.Value.Name }}</td>
                                            <td>{{ dataset.Value.Status }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tel-table-footer">
                                    <button type="button" class="btn btn-primary" translate="ORGANISATIONS.ADD_DATASET"></button>
                                </div>
                            </div>
                    </accordion-group>
                    <accordion-group is-open="accordionStatuses.contact">
                        <accordion-heading>
                            <span translate="ORGANISATIONS.CONTACTS"></span>
                            <i class="accordion-status fa" ng-class="{'fa-plus-square': !accordionStatuses.contact, 'fa-minus-square': accordionStatuses.contact}"></i>
                        </accordion-heading>
                        <div class="tel-datasets-table-container" ng-if="data.contact.Contact.length">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th translate="ORGANISATIONS.NAME">Name</th>
                                    <th translate="ORGANISATIONS.ROLE">Name</th>
                                    <th translate="ORGANISATIONS.EMAIL">E-mail</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="contact in data.contact.Contact">
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{ contact.Value.Name }}</td>
                                    <td>{{ contact.Value.Role }}</td>
                                    <td>{{ contact.Value['Email'] }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </accordion-group>
                    <accordion-group is-open="accordionStatuses.image">
                        <accordion-heading>
                            <span translate="ORGANISATIONS.IMAGES"></span>
                            <i class="accordion-status fa" ng-class="{'fa-plus-square': !accordionStatuses.image, 'fa-minus-square': accordionStatuses.image}"></i>
                        </accordion-heading>
                        <div class="tel-organisation-images">
                            <img ng-src="{{img}}" ng-repeat="img in data.image.Image">
                        </div>
                        <button ng-if="data.image" type="button" class="btn tel-btn btn-primary" translate="ORGANISATIONS.ADD_IMAGE"
                            ng-click="addImage()">
                        </button>
                    </accordion-group>
                    <accordion-group is-open="accordionStatuses.ticket">
                        <accordion-heading>
                            <span translate="ORGANISATIONS.TICKETS"></span>
                            <i class="accordion-status fa" ng-class="{'fa-plus-square': !accordionStatuses.ticket, 'fa-minus-square': accordionStatuses.ticket}"></i>
                        </accordion-heading>
                        This is just some content to illustrate fancy headings.
                    </accordion-group>
                    <accordion-group is-open="accordionStatuses.task">
                        <accordion-heading>
                            <span translate="ORGANISATIONS.TASKS"></span>
                            <i class="accordion-status fa" ng-class="{'fa-plus-square': !accordionStatuses.task, 'fa-minus-square': accordionStatuses.task}"></i>
                        </accordion-heading>
                        This is just some content to illustrate fancy headings.
                    </accordion-group>
                </accordion>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
