<div class="tel-page-pricing">
    <div class="tel-page-pricing-header">
        <div class="bg-overlay"></div>
        <div class="bg-image"></div>
        <div class="page-pricing-header-content">
            <h1 class="page-title"><strong>Plans</strong> &amp; <strong>Pricing</strong></h1>
            <div class="slogan">
                <h3>Flexible Plans and Pricing Range.  Professional Assistance.</h3>
                <h4>No startup costs. 1 year or long-term contracts.</h4>
            </div>
        </div>
    </div>

    <div class="tel-plans-panel">
        <div class="plans-container clearfix">
            <!-- Personal plan -->
            <div class="plan-col col-sm-3">
                <div class="plan-header bg-light-green darken">BASIC</div>
                <div class="plan-pricing bg-light-green"><span class="plan-currency">&#8364;</span><span class="plan-value">1500</span><span class="plan-period">/YEAR</span></div>
                <ul class="plan-features">
                    <li>1 User</li>
                    <li>Automated Ingestions</li>
                    <a href="#/signup?planId=1" class="bg-light-green darken">ORDER NOW</a>
                </ul>
            </div>

            <!-- Start Up plan -->
            <div class="plan-col col-sm-3">
                <div class="plan-header bg-light-green darker">BASIC+</div>
                <div class="plan-pricing bg-light-green darken"><span class="plan-currency">&#8364;</span><span class="plan-value">1900</span><span class="plan-period">/YEAR</span></div>
                <ul class="plan-features">
                    <li>3 Users</li>
                    <li>Automated Ingestions</li>
                    <li>1 Operations Assistant</li>
                    <a href="#/signup?planId=2" class="bg-light-green darker">ORDER NOW</a>
                </ul>
            </div>

            <!-- Company plan -->
            <div class="plan-col col-sm-3">
                <div class="plan-header bg-light-green darken">PREMIUM</div>
                <div class="plan-pricing bg-light-green"><span class="plan-currency">&#8364;</span><span class="plan-value">2500</span><span class="plan-period">/YEAR</span></div>
                <ul class="plan-features">
                    <li>3 Users</li>
                    <li>Automated Ingestions</li>
                    <li>Custom XSLT</li>
                    <li>2 Operations Assistants</li>
                    <a href="#/signup?planId=3" class="bg-light-green darken">ORDER NOW</a>
                </ul>
            </div>

            <!-- Enterprice plan -->
            <div class="plan-col col-sm-3">
                <div class="plan-header bg-light-green darker">PREMIUM GOLD</div>
                <div class="plan-pricing bg-light-green darken"><span class="plan-currency">&#8364;</span><span class="plan-value">3500</span><span class="plan-period">/YEAR</span></div>
                <ul class="plan-features">
                    <li>Unlimited Number of Users</li>
                    <li>Automated Ingestions</li>
                    <li>Custom XSLT</li>
                    <li>Customzed Ingestions</li>
                    <li>Full Cycle Ingestion Assistance</li>
                    <a href="#/signup?planId=4" class="bg-light-green darker">ORDER NOW</a>
                </ul>
            </div>
        </div>
    </div>

    <div class="trial">
        Get started today<br>
        <a href="#" title="">Contact us</a>
    </div>
</div>
