<ul class="tel-navigation" tel-main-menu>
    <li class="active">
        <a href="index.html">
            <i class="tel-menu-icon fa fa-dashboard"></i>
            <span class="tel-text">Dashboard</span>
        </a>
    </li>
    <li class="tel-dropdown">
        <a href="#">
            <i class="tel-menu-icon fa fa-th"></i>
            <span class="tel-text">Layouts</span>
            <span class="label tel-label label-warning">Updated</span>
        </a>
        <ul>
            <li>
                <a tabindex="-1" href="layouts-grid.html">
                    <span class="tel-text">Grid</span>
                </a>
            </li>
            <li>
                <a tabindex="-1" href="layouts-main-menu.html">
                    <i class="tel-menu-icon fa fa-th-list"></i>
                    <span class="tel-text">Main menu</span>
                    <span class="label tel-label label-warning">Updated</span>
                </a>
            </li>
        </ul>
    </li>
    <!--<li class="tel-dropdown">-->
    <!--<a href="#">-->
    <!--<i class="tel-menu-icon fa fa-sitemap"></i>-->
    <!--<span class="tel-text">Menu levels</span>-->
    <!--<span class="tel-badge badge badge-primary">6</span>-->
    <!--</a>-->
    <!--<ul>-->
    <!--<li>-->
    <!--<a tabindex="-1" href="#">-->
    <!--<span class="tel-text">Menu level 1.1</span>-->
    <!--<span class="tel-badge badge badge-danger">12</span>-->
    <!--<span class="label tel-label label-info">21</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a tabindex="-1" href="#">-->
    <!--<span class="tel-text">Menu level 1.2</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="tel-dropdown">-->
    <!--<a tabindex="-1" href="#">-->
    <!--<span class="tel-text">Menu level 1.3</span>-->
    <!--<span class="label tel-label label-warning">5</span>-->
    <!--</a>-->
    <!--<ul>-->
    <!--<li>-->
    <!--<a tabindex="-1" href="#">-->
    <!--<span class="tel-text">Menu level 2.1</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--<li class="tel-dropdown">-->
    <!--<a tabindex="-1" href="#">-->
    <!--<span class="tel-text">Menu level 2.2</span>-->
    <!--</a>-->
    <!--<ul>-->
    <!--<li class="tel-dropdown">-->
    <!--<a tabindex="-1" href="#">-->
    <!--<span class="tel-text">Menu level 3.1</span>-->
    <!--</a>-->
    <!--<ul>-->
    <!--<li>-->
    <!--<a tabindex="-1" href="#">-->
    <!--<span class="tel-text">Menu level 4.1</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a tabindex="-1" href="#">-->
    <!--<span class="tel-text">Menu level 3.2</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
    <!--<a tabindex="-1" href="#">-->
    <!--<span class="tel-text">Menu level 2.2</span>-->
    <!--</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</li>-->
</ul>
