<button type="button" class="tel-main-menu-toggle" tel-main-menu-toggle>
    <i class="navbar-icon fa fa-bars icon"></i>
    <span class="hide-menu-text">HIDE MENU</span>
</button>
<div class="navbar-inner">
    <div class="navbar-header open-menu">
        <a href="index.html" class="navbar-brand">
            <img alt="The European Library" src="images/logo-book.png">
        </a>
    </div>
    <div class="collapse navbar-collapse tel-navbar-collapse">
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Home</a>
                </li>
                <li class="dropdown tel-dropdown" dropdown>
                    <a href="#" class="dropdown-toggle" dropdown-toggle>Dropdown</a>
                    <ul class="tel-dropdown-menu dropdown-menu" role="menu">
                        <li><a href="#">First item</a></li>
                        <li><a href="#">Second item</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Third item</a></li>
                    </ul>
                </li>
            </ul>
            <div class="right clearfix">
                <ul class="navbar navbar-nav pull-right right-navbar-nav">
                    <li class="nav-icon-btn nav-icon-btn-danger dropdown tel-dropdown">
                        <a href="#notifications" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="label">5</span>
                            <i class="nav-icon fa fa-bullhorn"></i>
                            <span class="small-screen-text">Notifications</span>
                        </a>
                        <div class="tel-dropdown-menu dropdown-menu widget-notifications no-padding" style="width: 300px">
                            <div class="slimScrollDiv">
                                <div class="notifications-list" id="main-navbar-notifications">
                                    <div class="notification">
                                        <div class="notification-title text-danger">SYSTEM</div>
                                        <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                                        <div class="notification-ago">12h ago</div>
                                        <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                                    </div> <!-- / .notification -->

                                    <div class="notification">
                                        <div class="notification-title text-info">STORE</div>
                                        <div class="notification-description">You have <strong>9</strong> new orders.</div>
                                        <div class="notification-ago">12h ago</div>
                                        <div class="notification-icon fa fa-truck bg-info"></div>
                                    </div> <!-- / .notification -->

                                    <div class="notification">
                                        <div class="notification-title text-default">CRON DAEMON</div>
                                        <div class="notification-description">Job <strong>"Clean DB"</strong> has been completed.</div>
                                        <div class="notification-ago">12h ago</div>
                                        <div class="notification-icon fa fa-clock-o bg-default"></div>
                                    </div> <!-- / .notification -->

                                    <div class="notification">
                                        <div class="notification-title text-success">SYSTEM</div>
                                        <div class="notification-description">Server <strong>up</strong>.</div>
                                        <div class="notification-ago">12h ago</div>
                                        <div class="notification-icon fa fa-hdd-o bg-success"></div>
                                    </div> <!-- / .notification -->

                                    <div class="notification">
                                        <div class="notification-title text-warning">SYSTEM</div>
                                        <div class="notification-description"><strong>Warning</strong>: Processor load <strong>92%</strong>.</div>
                                        <div class="notification-ago">12h ago</div>
                                        <div class="notification-icon fa fa-hdd-o bg-warning"></div>
                                    </div> <!-- / .notification -->
                                </div>
                            </div> <!-- / .notifications-list -->
                            <a href="#" class="notifications-link">MORE NOTIFICATIONS</a>
                        </div> <!-- / .dropdown-menu -->
                    </li>
                    <li>
                        <form class="navbar-form pull-left">
                            <input type="text" class="tel-form-control form-control" placeholder="Search">
                        </form>
                    </li>
                    <li class="dropdown tel-dropdown">
                        <a href class="dropdown-toggle user-menu" data-toggle="dropdown">
                            <img src="http://placehold.it/25x25">
                            <span>John Doe</span>
                        </a>
                        <ul class="tel-dropdown-menu dropdown-menu">
                            <li><a href="#"><span class="label label-warning pull-right">New</span>Profile</a></li>
                            <li><a href="#"><span class="badge badge-primary pull-right">New</span>Account</a></li>
                            <li><a href="#"><i class="dropdown-icon fa fa-cog"></i>&nbsp;&nbsp;Settings</a></li>
                            <li class="divider"></li>
                            <li><a href ng-click="logout($event)"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
